@layer base {
  /* @font-face {
    font-family: 'FontName';
    src: url('../assets/fonts/Font.woff2') format('woff2'),
      url('../assets/fonts/Font.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  } */
}
