@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--color-secondary: #ff530f;

	--font-body: var(--font-apercu);
	--font-heading: var(--font-juana);


	--text-9xl: 90px;
	--text-8xl: 75px;
	--text-8xl: 75px;
	--text-7xl: 68px;
	--text-6xl: 50px;
	--text-5xl: 42px;
	--text-4xl: 38px;
	--text-3xl: 35px;
	--text-2xl: 30px;
	--text-xl: 27px;
	--text-lg: 25px;
	--text-md: 22px;
	--text-sm: 17px;
	--text-xs: 12px;

	--leading-4xl: 90px;
	--leading-3xl: 68px;
	--leading-2xl: 42px;
	--leading-lg: 30px;
}

@layer base {
	body {
		@apply bg-background text-foreground font-body;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-heading font-light;
		letter-spacing: 2px;
	}
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

.animate-fadeIn {
	animation: fadeIn 0.5s ease-in-out forwards;
}


.content-block-scrollingMarquee,
.content-block-quoteCarousel, 
.content-block-hero,
.content-block-imageCarousel {
  .mx-auto {
    .px-5 {
    padding: 0 !important;
  }
  }
}

.content-block-quoteCarousel{
	.splide__pagination {
		bottom: -7rem;
		display: flex;
		justify-content: center;
		gap: 10px;
	}

	.splide__pagination__page {
		width: 18px;
		height: 18px;
		border-radius: 50%;
		background-color: white;
		border: none;
		transition: background-color 0.3s, transform 0.3s;
		opacity: 0.6;
		border: 2px solid #767676 !important;
	}

	.splide__pagination__page:hover {
		opacity: 1;
	}

	.splide__pagination__page.is-active {
		background-color: black;
		border: 2px solid black !important;
		transform: scale(1);
		opacity: 1;
	}
}
.content-block-imageCarousel {
	.splide__slide.is-active {
		a{
			cursor: none;
		}
	}
}

@utility rich-text {
	p {
		&:not(:last-child) {
			@apply mb-4;
		}
	}
}
