@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--font-body: var(--font-apercu);
	--font-heading: var(--font-juana);
}

@layer base {
	body {
		@apply bg-background text-foreground font-body;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-heading font-light;
	}
}
