@import "tailwindcss";
@import "tw-animate-css";

:root {
	--background: #ffffff;
	--foreground: #171717;

	--small-desktop-relative: 0.75;
  --h1: 42px;
  --h2: 34px;
  --introduction: 42px;
  --h3: 32px;
  --h4: 30px;
  --h5: 27px;
  --h6: 25px;
  --subtitle: 18px;
  --body: 18px;
  --bs-body-font-size: 18px;
  --bs-btn-font-size: 18px;
  --small: 16px;
}

@media (min-width: 992px) {
  :root {
    --h1: calc(90px * var(--small-desktop-relative));
    --h2: calc(75px * var(--small-desktop-relative));
    --introduction: calc(90px * var(--small-desktop-relative));
    --h3: calc(60px * var(--small-desktop-relative));
    --h4: calc(50px * var(--small-desktop-relative));
    --h5: calc(40px * var(--small-desktop-relative));
    --h6: calc(35px * var(--small-desktop-relative));
    --subtitle: calc(22px * var(--small-desktop-relative));
    --body: calc(22px * var(--small-desktop-relative));
    --bs-body-font-size: calc(22px * var(--small-desktop-relative));
    --bs-btn-font-size: calc(22px * var(--small-desktop-relative));
    --small: calc(18px * var(--small-desktop-relative));
  }
}
@media (min-width: 1700px) {
  :root {
    --small-desktop-relative: 1;
    --h1: 90px;
    --h2: 75px;
    --introduction: 90px;
    --h3: 60px;
    --h4: 50px;
    --h5: 40px;
    --h6: 35px;
    --subtitle: 22px;
    --body: 22px;
    --bs-body-font-size: 22px;
    --bs-btn-font-size: 22px;
    --small: 18px;
  }
}

@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--color-secondary: #ff530f;
	--color-grey-500: rgb(118, 118, 118);

	--font-body: var(--font-apercu);
	--font-heading: var(--font-juana);

	--text-9xl: 90px;
	--text-8xl: 75px;
	--text-8xl: 75px;
	--text-7xl: 68px;
	--text-6xl: 50px;
	--text-5xl: 42px;
	--text-4_5xl: 40px;
	--text-4xl: 38px;
	--text-3xl: 35px;
	--text-2xl: 30px;
	--text-xl: 27px;
	--text-lg: 25px;
	--text-md: 22px;
	--text-sm: 17px;
	--text-xs: 12px;

	--leading-4xl: 90px;
	--leading-3xl: 68px;
	--leading-2xl: 42px;
	--leading-lg: 30px;
}

@layer base {
	body {
		@apply bg-background text-foreground font-body;
		font-size: var(--body);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-heading font-light leading-[1.2];
		letter-spacing: 2px;
	}

	h1, .h1 {
  	font-size: var(--h1);
	}

	h2, .h2 {
		font-size: var(--h2);
	}

	h3, .h3 {
		font-size: var(--h3);
	}

	h4, .h4 {
		font-size: var(--h4);
	}

	h5, .h5 {
		font-size: var(--h5);
	}

	h6, .h6 {
		font-size: var(--h6);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.animate-fadeIn {
	animation: fadeIn 0.5s ease-in-out forwards;
}

.content-block-scrollingMarquee,
.content-block-quoteCarousel,
.content-block-hero,
.content-block-imageCarousel {
	.mx-auto {
		.px-5 {
			padding: 0 !important;
		}
	}
}

.content-block-quoteCarousel {
	.splide__pagination {
		bottom: -7rem;
		display: flex;
		justify-content: center;
		gap: 10px;
	}

	.splide__pagination__page {
		width: 18px;
		height: 18px;
		border-radius: 50%;
		background-color: white;
		border: none;
		transition: background-color 0.3s, transform 0.3s;
		opacity: 0.6;
		border: 2px solid #767676 !important;
	}

	.splide__pagination__page:hover {
		opacity: 1;
	}

	.splide__pagination__page.is-active {
		background-color: black;
		border: 2px solid black !important;
		transform: scale(1);
		opacity: 1;
	}
}
.content-block-imageCarousel {
	.splide__slide.is-active {
		a {
			cursor: none;
		}
	}
}

@utility rich-text {
	p {
		&:not(:last-child) {
			@apply mb-4;
		}
	}

	ul {
		@apply list-disc list-inside pl-8;

		li {
			&:not(:last-child) {
				@apply mb-[22px]
			}
		}
	}
}
